
html, body{
  padding: 0px;
  margin: 0px;
  background-image: url("/imgs/background.png");
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.container{
  width: 100%;
  text-align: center;
}

.row_picto{
  margin-top: 15%;
  display: inline-block;
  text-align: center;
  width: 50%;
}

.row_available{
  margin-top: 6%;
  display: inline-block;
  text-align: center;
  width: 70%;
}

.row_trad{
  margin-top: 8%;
  display: inline-block;
  text-align: center;
  width: 68%;
}

.row_ocupation{
  margin-top: 8%;
  display: inline-block;
  text-align: center;
  width: 80%;
}

.row_porcentaje
{
  font-size: 700%;
}

.responsive {
  width: 100%;
  height: auto;
}


@media (max-height: 800px) {
    
  .row_picto{
    margin-top: 1%;
    display: inline-block;
    text-align: center;
    width: 20%;
  }

  .row_available{
    margin-top: 1%;
    display: inline-block;
    text-align: center;
    width: 48%;
  }

  .row_trad{
    margin-top: 3%;
    display: inline-block;
    text-align: center;
    width: 65%;
  }

  .row_ocupation{
    margin-top: 6%;
    display: inline-block;
    text-align: center;
    width: 45%;
  }

  .row_porcentaje
  {
    font-size: 600%;
  }
}